@import url('https://fonts.googleapis.com/css?family=Montserrat:700');

*{
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-image: url("assets/bg.png");
    background
    //background: lightcyan;
}

.logo {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 1em;
    display: flex;
    justify-content: center;
}

img {
    padding: 20px;
    height: 50px;
    width: 180px;
}

.content {
    height: 100vh;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.content h1 {
    font-family: 'montserrat';  
    color: #242424;
    font-size: 10em;
    text-shadow: 3px 3px #e5451c;
}


/* FOR MOBILE */
@media only screen and (max-width: 700px) {
    img {
        padding: 20px;
        height: 25px;
        width: 90px;
    }

    .content h1 {
        padding: 20px;
        font-family: 'montserrat';  
        color: #242424;
        font-size: 3.8em;
        text-shadow: 2px 2px #e5451c;
    }
}