// VARIABLES //
$content-font: 'Montserrat', sans-serif;
$menu-font: 'Raleway', sans-serif;




*{
    margin: 0%;
    padding: 0%;
    a, a:visited, a:active{
        text-decoration: none;
        color: #000000;
    }
}

body{
    background: url('../images/background/bg.png');

    // CONTENT SIDE //
    section.content-side{

        div.banner{
            text-align: center;
            position: relative;
            top: 40%;
            h1{
                font-size: 4em;
                font-family: $content-font;
            }
            small{
                font-size: 1em;
            }
        }

    }

    // SIDE BAR //
    section.sidebar{
        background: rgb(255, 255, 255);
        height: 100vh;
        box-shadow: -1px 1px 6px #b9b7b7;
        img.logo{
            margin-left: auto;
            margin-right: auto;
            display: block;
            margin-top: 12%;
            width: 120px;
        }
        ul.menu{
            list-style: none;
            margin-top: 40%;
            li{
                position: relative;
                padding: 5%;
                z-index: 0;
                text-align: center;
                font-size: 1.5em;
                font-family: $menu-font;
                div.selected{
                    position: absolute;
                    right: 0px;
                    top: 50%;
                    transform: translateY(-50%);
                    background: #F0F2FE;
                    height: 30px;
                    width: 112%;
                    z-index: -1;
                    padding: 20px;
                    box-shadow: 1px 1px 6px #b9b7b7;
                }
            }
            li.ticket a{
                color: #e5451c;
                z-index: 1;
            }
            .acitve{
                border: 3px solid red;
            }
        }
    }
}

